
body, html {
    margin: 0;
    padding: 0;
}

.hero-section{
  height: 70vh;
  background-image: url('./assets/images/girl-coding.png');
  background-size: cover;
  background-position: center;
}

.hero-content{
    color: white;
}