
body, html {
    margin: 0;
    padding: 0;
}

.hero-section{
  height: 70vh;
  background-image: url('./assets/images/girl-coding.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content p{
    width: 500px;
    font-size: 1.2rem;
}

.contact {
    background-color: #d25ff2;
    margin: 10px auto;
    padding: 3px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}